In [50]:
import pandas as pd
from sklearn.datasets import load_iris

<h3>[Problem 1] Data acquisition<h3>

In [51]:
data = load_iris()
data['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [52]:
X = pd.DataFrame({
        'sepal_length': data['data'][:, 0], 
        'sepal_width': data['data'][:, 1], 
        'petal_length': data['data'][:, 2], 
        'petal_width': data['data'][:, 3]
        })
        
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [53]:
y = pd.DataFrame({
        'Species': data['target']
        })

y

     Species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

<h3>[Problem 2] Combining data<h3>

In [54]:
df = pd.concat([X, y], axis = 1)

df

     sepal_length  sepal_width  petal_length  petal_width  Species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

<h3>[Problem 3] Checking the data<h3>

In [55]:
sample = df.iloc[3]

print(sample)
print("\nsepal_length type: {}".format(type(sample['sepal_length'])))
print("sepal_width type: {}".format(type(sample['sepal_width'])))
print("petal_length type: {}".format(type(sample['petal_length'])))
print("petal_width type: {}".format(type(sample['petal_width'])))

sepal_length    4.6
sepal_width     3.1
petal_length    1.5
petal_width     0.2
Species         0.0
Name: 3, dtype: float64

sepal_length type: <class 'numpy.float64'>
sepal_width type: <class 'numpy.float64'>
petal_length type: <class 'numpy.float64'>
petal_width type: <class 'numpy.float64'>

In [56]:
counts = df['Species'].value_counts()

print(counts)
print("\nSpecies 0: {} samples".format(counts.loc[0]))
print("Species 1: {} samples".format(counts.loc[1]))
print("Species 2: {} samples".format(counts.loc[6.3]))

2    50
1    50
0    50
Name: Species, dtype: int64

Species 0: 50 samples
Species 1: 50 samples

TypeError: cannot do label indexing on <class 'pandas.core.indexes.numeric.Int64Index'> with these indexers [6.3] of <class 'float'>

In [165]:
print("Missing value: ")
df.isnull().sum()

Missing value:

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
Species         0
dtype: int64

In [57]:
df.loc[:, 'sepal_length':'petal_width'].describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

<h3>[Problem 4] Examining the iris dataset itself<h3>